body {
	background-color: #dad9d5;
	background-image: url("/img/orkide.jpg");
	background-repeat: no-repeat;
}

.container {
	margin: 0 auto;
	width: 400px;
	background-color: #dad9d580;
	padding: 50px;
	font-family: "Marck Script", cursive;
	font-size: 24px;
}
